<%- include('../Includes/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/CSS/cart.css">
<body>
    <%- include('../Includes/navigation.ejs')%><br><br>
    <%if(data.length>0){%>
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col align-self-center text-right text-muted">1 items</div>
                        </div>
                    </div>  
                    <%for(let x of data){%>
                    <table>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="item">
                                <div class="buttons">
                                  <span class="delete-btn"><a href="/cartDelete/<%=x._id%>"></a></span>
                                  <span class="like-btn"></span>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="col-2"><img class="img-fluid" src="../../<%=x.cart[0].pImage%>"></div>
                            <div class="col">
                                <div class="row text-muted"><%=x.cart[0].pName%></div>
                                <div class="row"><%=x.cart[0].pDesc%></div>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="col">
                                <a class="minus-btn" type="button" name="button" style="text-decoration: none;">-</a>
                                <input type="text" name="name" value="<%=x.quantity%>" style="
                                    -webkit-appearance: none;
                                    border: none;
                                    text-align: center;
                                    width: 32px;
                                    font-size: 16px;
                                    color: #43484D;
                                    font-weight: 300;">
                                <a class="plus-btn" type="button" name="button" style="text-decoration: none;">+</a>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="col">₹ <%=x.cart[0].pPrice%></div>
                        </div>
                    </div>
                   </table> 
                   <%}%> 
                        <%}else{%>
                       <h1>Data not found.</h1>
                       <%}%> 
                    <div class="back-to-shop"><a href="/viewuser_products">Back to shop &leftarrow;</a><span class="text-muted"></span></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS 1</div>
                        <div class="col text-right">₹ 132.00</div>
                    </div>
                    <form>
                        <p>SHIPPING</p>
                        <select><option class="text-muted">Standard-Delivery- ₹5.00</option></select>
                        <p>GIVE CODE</p>
                        <input id="code" placeholder="Enter your code">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right">₹ 137.00</div>
                    </div>
                    <button class="btn"><a href="/success" style="color: white; text-decoration:none">CHECKOUT</a></button>
                </div>
                </div> 
        </div>
        <script type="text/javascript">
            $('.minus-btn').on('click', function(e) {
                  e.preventDefault();
                  var $this = $(this);
                  var $input = $this.closest('div').find('input');
                  var value = parseInt($input.val());
      
                  if (value > 1) {
                      value = value - 1;
                  } else {
                      value = 0;
                  }
      
              $input.val(value);
      
              });
      
              $('.plus-btn').on('click', function(e) {
                  e.preventDefault();
                  var $this = $(this);
                  var $input = $this.closest('div').find('input');
                  var value = parseInt($input.val());
      
                  if (value < 100) {
                    value = value + 1;
                  } else {
                      value =100;
                  }
      
                  $input.val(value);
              });
      
            $('.like-btn').on('click', function() {
              $(this).toggleClass('is-active');
            });
          </script>
          <br><br><br>

        <%- include('../Includes/footer.ejs')%>