<%-include('../Includes/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/CSS/setPass.css">
</head>

<body>
    <%-include('../Includes/navigation.ejs')%>
    <br>
    <div id="form">
        <form action="/postNewPassword" method="POST">
            <input type="hidden" value="<%=csrf_token%>" name="_csrf">
            <label for="password">New Password</label>
            <br>
            <input type="password" name="pwd">
            <br><br>
            <label for="password">Confirm New Password</label>
            <br>
            <input type="password" name="cpwd">
            <br><br>
            <input type="hidden" name="user_id" value="<%=userId%>">
            <p>
            <input id="submit" type="submit" value="RESET"></p>
        </form>
    </div><br><br>

            <%-include('../Includes/footer.ejs')%>